<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/save}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>

  <label for="years">Enter age: </label>
  <input type="number" th:field="*{years}" id="years"/>
  <br/>

  <label for="username">Enter username: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <br/>

  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>

  <div>
    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="role : ${allRoles}"
             th:text="${role.role}"
             th:value="${role.id}"
      />
    </label>
  </div>

  <input type="submit" value="Create!"/>
</form>
<br/>
<button onclick="location.href='/admin'">Back</button>
<br/>
<br><br>
<form th:method="POST" th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>

</body>
</html>