<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<p>ID: <span th:text="${user.getId()}"></span></p>
<p>Name: <span th:text="${user.getName()}"></span></p>
<p>Age: <span th:text="${user.getYears()}"></span></p>
<p>UserName: <span th:text="${user.getUsername()}"></span> </p>
<p>Role:
    <div th:each="role : ${user.getRoles()}">
    <div th:text="${role.getRole()}"></div>
    <br>
    </div>
</p>

<a href="#" th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>
<form method="POST" th:action="@{{id}/delete(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Delete"/>
</form>
<br/>
<button onclick="location.href='/admin'">Back</button>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>